/* Write your CSS here */
.destination-item {
  list-style-type: none;
  width: 320px;
  height: 230px;
  margin: 10px 10px 10px 10px;
}
.destination-img {
  width: 320px;
  height: 200px;
}
.image-text {
  color: #252627;
  font-size: 15px;
  font-family: 'Roboto';
}
